<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Handytec</title>
		<!-- Bootstrap Core CSS -->
		<link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
		<!-- Custom Fonts -->
		<link href="../other/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<!-- Custom Fonts -->
		<link href="../other/font-awesome/css/fontello.css" rel="stylesheet" type="text/css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="../stylesheets/animate.min.css">
		<link rel="stylesheet" href="../stylesheets/main.css" >
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.../javascripts/1.4.2/respond.min.js"></script>
			<![endif]-->
		<link rel="icon" type="image/png" sizes="16x16" href="../images/icon/favicon.png">
	</head>

	<body data-spy="scroll">
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img src="../images/logos/logo-handytec.png" alt="Handytec" /></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right custom-menu">
						<li class="active"><a href="#home">Inicio</a></li>
						<li><a href="#about">Nosotros</a></li>
						<li><a href="#process">Proceso</a></li>
						<li><a href="#services">Servicios</a></li>
						<li><a href="#meet-team">Equipo</a></li>
						<li><a href="#contact">Contacto</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Header Carousel -->
		<header id="home" class="carousel slide">
			<ul class="cb-slideshow">

					<li><span>image1</span>
						<div class="wrapper1">
							<div class="container-left">
								<h3>Soluciones tecnológicas integrales</h3>
								<h4>Convertimos buenas ideas en soluciones tecnológicas e informáticas innovadoras</h4>
							</div>
							<div class="container-right">
								<img src="../images/phone.png" width="25%" height="25%"/>
							</div>
						</div>
					</li>

					<li><span>image2</span>
						<div class="wrapper1">
							<div class="container-left">
								<h3>Desarrollo ágil de aplicaciones</h3>
								<h4>Por medio de metodologías ágiles, aseguramos la implementación y entrega a tiempo de nuestras aplicaciones. Nos basamos en el desarrollo rápido y colaborativo. </h4>
							</div>
							<div class="container-right">
								<!-- <img src="../images/cloud-computing.svg"/> -->
							</div>
						</div>
					</li>

					<li><span>image3</span>
						<div class="wrapper1">
							<div class="container-left">
								<img src="../images/multiplatform.svg" width="100%" height="100%"/>
							</div>
							<div class="container-right">
								<h3>Aplicaciones móviles multiplataforma</h3>
								<h4>Desarrollamos software óptimo para cualquier plataforma móvil (Android, iOS, Windows Mobile). Nos basamos en el modelo "Develop Once, Deploy Everywhere".</h4>
							</div>
						</div>
					</li>
					<li><span>image4</span>
						<div class="wrapper1">
							<div class="container-left">
								<h3>BigData processing & analytics</h3>
								<h4>Desarrollamos soluciones tecnológicas que permiten procesar, analizar y presentar un volumen masivo de datos (BigData) en poco tiempo. La Nube (Cloud Computing) es la clave.</h4>
							</div>
							<div class="container-right">
								<!-- <img src="../images/cloud-computing.svg"/> -->
							</div>
						</div>
					</li>
					<li><span>image5</span>
						<div class="wrapper1">
							<div class="container-left">
								<h3>Computación en la Nube</h3>
								<h4>Brindamos soluciones para almacenar, gestionar y procesar los datos ilimitadamente segun la demanda y necesidad del cliente, permitiendo la reducción de los costes operativos y eliminación de las inversiones en infraestructura IT.</h4>
							</div>
							<div class="container-right">
								<!-- <img src="../images/cloud-computing.svg"/> -->
							</div>
						</div>
					</li>
					<li><span>image6</span>
						<div class="wrapper1">
							<div class="container-left">
								<!-- <img src="../images/cloud-computing.svg"/> -->
							</div>
							<div class="container-right">
								<h3>Banca y pagos móviles</h3>
								<h4>Ofrecemos aplicaciones para comercio electrónico móvil, transferencia de dinero y compra de divisas.</h4>
							</div>
						</div>
					</li>
					<li><span>image7</span>
						<div class="wrapper1">
							<div class="container-left">
								<h3>Internet de las Cosas</h3>
								<h4>Promovemos el desarrollo y crecimiento de ciudades inteligentes. Nuestros científicos, talento Ecuatoriano, se encuentran desarrollando la tecnología del futuro.</h4>
							</div>
							<div class="container-right">
								<!-- <img src="../images/cloud-computing.svg"/> -->
							</div>
						</div>
					</li>

			</ul>
			<div class="intro-scroller">
				<a class="inner-link" href="#about">
					<div class="mouse-icon" style="opacity: 1;">
						<div class="wheel"></div>
					</div>
				</a> 
			</div>          
		</header>
			
		<!-- Page Content -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<div class="text-center">
							<h2>Quienes somos</h2>
							<img class="img-responsive displayed divider" src="../images/other/divider.svg" alt="Company about"/>
							<div class="row">
								<div class="col-md-6 animated" id="mision_div_1">
									<img src="../images/blog1a.jpg" class="img-responsive circular-profile" style="margin-top:30px;"/>
								</div>
								<div class="col-md-6 animated" id="mision_div_2">
								<center>
									<h2>Misión</h2>
									</center>
								<p>
									Nuestra misión es convertir buenas ideas en soluciones tecnológicas innovadoras que ayudan a establecer un compromiso con nuestros clientes, haciendo crecer su negocio por medio de un modelo exitoso y de alta calidad en la entrega rápida de aplicaciones. Nuestros ingenieros trabajan de cerca con los clientes y proveen la mejor experiencia de usuario siguiendo metodologias agiles durante el desarrollo. Somos especialistas en desarrollar aplicaciones para analisis de BigData y tecnologias moviles, dando soluciones inteligentes y estrategicas a nuestros clientes, en la nube.
								</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6 animated" id="vision_div_1">

									<center>
									<h2>Visión</h2>
									</center>
									<p>
									Nuestra visión es convertirnos en la empresa líder en brindar soluciones tecnológicas móviles como parte del Internet de las Cosas, contribuyendo así a la creación y expansión de Ciudades Inteligentes.
									</p>
								</div>
								<div class="col-md-6 animated" id="vision_div_2">
								<center>
									<h2></h2>
									</center>
									<img src="../images/blog2a.jpg" class="img-responsive circular-profile" style="margin-top:30px;"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<section id="process">

			<div class="orangeback">
			<span class="down-cap"><img src="http://odecee.com.au/wp-content/themes/odecee/library/images/down-p.png" alt=""></span>
				<div class="container">
					<div class="text-center homeport2"><h2>Nuestro Proceso</h2></div>
					<div class="row">
						<div class="col-md-12 homeservices1" id="processes">
							<div class="col-md-4 portfolio-item animated" id="process_1">
								<div class="text-center" >
									<a href="javascript:void(0);">
									<span class="fa-stack fa-lg">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa icon-idea fa-stack-1x"></i>
									</span>
									</a>
									<h3><label class="process-label">Idea</label></h3>
									<p>Las ideas no duran mucho. Hay que hacer algo con ellas, por ello creemos en el potencial creativo de nuestros técnicos y nuestros clientes para resolver problemas de una manera innovadora. Nosotros podemos hacer de tus ideas una realidad.</p>
								</div>
							</div>
							<div class="col-md-4 portfolio-item animated" id="process_2">
								<div class="text-center">
									<a href="javascript:void(0);">
									<span class="fa-stack fa-lg">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa icon-plan fa-stack-1x"></i>
									</span>
									</a>
									<h3><label class="process-label">Plan</label></h3>
									<p>El inicio de un proyecto sin un plan sólido es como navegar por un laberinto con los ojos vendados. Nuestra metodología de desarrollo innovadora, profesional y ágil, con un trabajo en cojunto con el cliente, es nuestra estrategia para su negocio.</p>
								</div>
							</div>
							<div class="col-md-4 portfolio-item animated" id="process_3">
								<div class="text-center">
									<a href="javascript:void(0);">
									<span class="fa-stack fa-lg">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa icon-design fa-stack-1x"></i>
									</span>
									</a>
									<h3><label class="process-label">Diseño</label></h3>
									<p>Las primeras impresiones sólo ocurren una vez, y el desarrollo tecnológico es la puerta de entrada. Un gran diseño Web Responsive y multiplataforma resalta detalles claves acerca de su negocio de una forma atractiva.</p>
								</div>
							</div>
							<div class="col-md-4 portfolio-item animated" id="process_4">
								<div class="text-center">
									<a href="javascript:void(0);">
									<span class="fa-stack fa-lg">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa icon-build fa-stack-1x"></i>
									</span>
									</a>
									<h3><label class="process-label">Construcción</label></h3>
									<p>Una estructura adecuada combinando tecnologías nuevas y el desarrollo ágil, hacen de tu idea una realidad. Construimos una plataforma digital robusta, intuitiva, moderna y adaptada a tus necesidades para llevar el mensaje a tus clientes de una manera única. 
									</p>
								</div>
							</div>
							<div class="col-md-4 portfolio-item animated" id="process_5">
								<div class="text-center">
									<a href="javascript:void(0);">
									<span class="fa-stack fa-lg">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa icon-launch fa-stack-1x"></i>
									</span>
									</a>
									<h3><label class="process-label">Lanzamiento</label></h3>
									<p>Por medio de metodologias ágiles, es posible tener una respuesta inmediata al cambio y presentar versiones del producto final durante todo el proceso de desarrollo. De esta forma involucramos a nuestros clientes y aseguramos la entrega rápida de su aplicación, optimizando tiempo y recursos.</p>
								</div>
							</div>
							<div class="col-md-4 portfolio-item animated" id="process_6">
								<div class="text-center">
									<a href="javascript:void(0);">
									<span class="fa-stack fa-lg">
									  <i class="fa fa-circle fa-stack-2x"></i>
									  <i class="fa icon-promote fa-stack-1x"></i>
									</span>
									</a>
									<h3><label class="process-label">Promoción</label></h3>
									<p>Nuestro trabajo no termina con el producto final, nosotros lo convertimos en una marca con su propia imagen, la promocionamos y le damos seguimiento. De esta manera garantizamos su éxito con los objetivos de negocio de nuestros clientes.
									</p>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="services" class="space-bottom">
			<div class="container">
				<div class="text-center">
							<h2>Nuestros Servicios</h2>
							<img class="img-responsive displayed divider" src="../images/other/divider.svg" alt="Nuestros Servicios">
						</div>
				<div class="row">
					<div class="col-md-12 homeport1">
						<div class="col-md-4 col-sm-12 col-xs-12 portfolio-item">
							<figure class="effect-oscar">
								<img src="../images/blog1.jpg" alt="img09" class="img-responsive" />
								<figcaption>
									<h2>Desarrollo multiplataforma</h2>
									<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Leer más</a>
								</figcaption>           
							</figure>
							<p class="text-center work-text">Llevamos o creamos su imagen en la Web usando tecnologias de ultima generación, sitios Web Responsive adaptados a cualquier dispositivo y navegador, de igual forma desarrollamos aplicaciones móviles independientes de la plataforma. Esto hace posible a su negocio llegar a más gente y elevar su presencia en el mercado.</p>
							<div class="text-center"><a id="multi-link" class="btn btn-primary btn-noborder-radius hvr-bounce-to-bottom">Leer más</a></div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12 portfolio-item">
							<figure class="effect-oscar">
								<img src="../images/blog2.jpg" alt="img09" class="img-responsive"/>
								<figcaption>
									<h2>Computación y Servicios en la Nube</h2>
									<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Leer más</a>
								</figcaption>           
							</figure>
							<p class="text-center work-text">No se preocupe más por invertir en costosos centros de datos o en crear un departamento de TI en su empresa. Nosotros le brindamos asesoramiento en el uso de recursos en la nube.</p>
							<div class="text-center"><a id="multi-nube" class="btn btn-primary btn-noborder-radius hvr-bounce-to-bottom">Leer más</a></div>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12 portfolio-item">
							<figure class="effect-oscar">
								<img src="../images/blog3.jpg" alt="img09" class="img-responsive"/>
								<figcaption>
									<h2>Programas de Capacitación</h2>
									<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Leer más</a>
								</figcaption>           
							</figure>
							<p class="text-center work-text">Realizamos eventos de capacitación en donde tratamos y estudiamos las tecnologías más novedosas que están siendo utilizadas en alrededor del mundo. Dictamos talleres prácticos con expertos en Mobile & Cloud Computing, Computación de alto rendimiento, Científicos de Datos, Bioinformática y mucho más.  </p>
							<div class="text-center"><a id="multi-training" class="btn btn-primary btn-noborder-radius hvr-bounce-to-bottom" >Leer más</a></div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Page Content -->
		<section id="partners">
			<div class="container">
				<div class="row text-center">

						<div class="text-center">
							<h2>Partners & Tecnologías</h2>
							<img class="img-responsive displayed divider" src="../images/other/divider.svg" alt="Company about"/>
						</div>
							
						<div class="col-lg-12" style="margin-top: 50px;">
							<div class="col-md-3 animated" id="partner_1">
								<img src="../images/logos/elastic.png" width="200px"/>
							</div>
							<div class="col-md-3 animated" id="partner_2">
								<img src="../images/logos/hw.png" width="200px"/>
							</div>
							<div class="col-md-3 animated" id="partner_3">
								<img src="../images/logos/hadoop.png" width="200px"/>
							</div>
							<div class="col-md-3 animated" id="partner_4">
								<img src="../images/logos/ionic.png" width="200px"/>
							</div>
						</div>
				</div>
			</div>
		</section>

		<section id="meet-team">
			<div class="container">
				<div class="text-center">
				<h2>Nuestro Equipo</h2>
				<img class="img-responsive displayed divider" src="../images/other/divider.svg" alt="about">
				</div>
				<div class="row teamspace">
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="team-member">
							<div class="team-img">
								<img class="img-responsive circular-profile" src="../images/profile/diego-profile.png" alt="">
							</div>
							<div class="team-info">
								<h3>Diego Montúfar</h3>
								<span>Director Ejecutivo, CEO</span>
							</div>
							<p class="team-text">Co-fundador y Director Ejecutivo de Handytec Ecuador, Master of Information Technology graduado en la Universidad de Melbourne, Australia. Experto en computación de alto rendimiento, computación distribuida y en la Nube. Su principal objetivo es liderar los proyectos de innovación a nivel Nacional e Internacional, asímismo introducir y fomrentar el uso de nuevas tecnologías dentro y fuera del país.</p>
							<ul class="social-icons">
								<li><a href="https://www.facebook.com/diogonal" target="blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/diogonal" target="blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://plus.google.com/+DiegoMontufar" target="blank"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://ec.linkedin.com/in/diegomontufar" target="blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="team-member">
							<div class="team-img">
								<img class="img-responsive circular-profile" src="../images/profile/juanpa-profile.png" alt="">
							</div>
							<div class="team-info">
								<h3>Juan Pablo Zaldumbide</h3>
								<span>Gerente General, COO</span>
							</div>
							<p class="team-text">Gerente General de Handytec Ecuador, responsable del área de operaciones y ventas dentro y fuera del país. Master of Science graduado en la Universidad de Melbourne, Australia. Experto en análisis y procesamiento de BigData y desarrollo de aplicaciones móviles. Su principal objetivo es coordinar y establecer contacto con nuestros clientes, ofreciendoles una solución estratégica e innovadora para su negocio.</p>
							<ul class="social-icons">
								<li><a href="https://www.facebook.com/juanpablozaldumbide" target="blank" ><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/jpzaldumbide" target="blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://plus.google.com/u/0/111673812096405668919" target="blank"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://www.linkedin.com/in/jzaldumbide" target="blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4">
						<div class="team-member">
							<div class="team-img">
								<img class="img-responsive circular-profile" src="../images/profile/juan-profile.png" alt="">
							</div>
							<div class="team-info">
								<h3>Juan Almeida</h3>
								<span>Director de Tecnología, CTO</span>
							</div>
							<p class="team-text">Fundador de Handytec Ecuador, Master en IT Management con amplio conocimiento en arquitectura de software, lidera el equipo en la ejecución de estrategias tecnológicas. Su principal objetivo es trabajar en la gestión de proyectos para garantizar que el producto de software cumpla con las necesidades de la organización y de sus clientes.
							</p>
							<ul class="social-icons">
								<li><a href="https://www.facebook.com/juanfr.almeida" target="blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/juanfralmeida" target="blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://plus.google.com/u/0/104349327313207930111" target="blank"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="https://www.linkedin.com/in/juanfralmeida" target="blank"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
			</div>
		</section>

		<!-- Page Content -->
		<section id="projectplanner" class="space-bottom">
			<div class="container">
				<div class="row">

						<div class="text-center">
							<h2>¿Cómo Empezar?</h2>
							<img class="img-responsive displayed divider" src="../images/other/divider.svg" alt="Company about"/>
						</div>
							
						<div class="col-md-12" style="margin-top: 50px; text-align:center;">

							<h3 class="space-bottom">Descarga nuestro Planeador de Proyecto</h3>

							<div class="col-md-6 animated" id="partner_1">
								<p class="text-center">El Planeador de Proyectos de Handytec te servirá como una guía de cómo debes estructurar tu idea de aplicación para que un consultor experto lo analice y afine detalles para realizar nuestra propuesta de costes y tiempos estimados. Si no tienes muy clara tu idea, no te preocupes, un consultor experto te asesorará a traves del formulario de Contacto.</p>
							</div>

							<div class="col-md-6 animated" id="partner_1">
								<div style="margin-bottom: 7%;">
									<img src="../images/planner.svg" width="30%" style="padding-left: 10px;"/>
								</div>
								<div>
									<center>
										<a href="../other/Handytec_planeador_de_proyecto.docx" class="button-link animated" id="download_planner">Descargar</a>
									</center>
								</div>
							</div>
						</div>
				</div>
			</div>
		</section>

		<div id="wrapper">

			<div id="contact">
				<div class="container"> 
					<div class="row">
						<div class="col-md-8">
							<div class="col-lg-12">
								<div id="contactus-title" class="text-center color-elements space-bottom">
								<h2>Contáctanos</h2>
								</div>
							</div>
							<div class="col-lg-12">

								<!--Comienzo de FORMULARIO-->
								<form class="inline" id="contactForm" action="/enviar" method="post">
									
									<div class="row">
	
										<div class="col-sm-6 height-contact-element">
											<div class="form-group">
												<input type="text" class="form-control custom-labels" id="name" name="client_name" placeholder="Nombre" required data-validation-required-message="Please write your name!"/>
												<p class="help-block text-danger"></p>
											</div>
										</div>
										<div class="col-sm-6 height-contact-element">
											<div class="form-group">
												<input type="text" class="form-control custom-labels" id="lastname" name="client_lastname" placeholder="Apellido" required data-validation-required-message="Please write your last name!"/>
												<p class="help-block text-danger"></p>
											</div>
										</div>
										<div class="col-sm-6 height-contact-element">
											<div class="form-group">
												<input type="email" name="email" class="form-control custom-labels" id="email" name="email" placeholder="Email" required data-validation-required-message="Please write your email!"/>
												<p class="help-block text-danger"></p>
											</div>
										</div>
										<div class="col-sm-6 height-contact-element">
											<div class="form-group">
												<input type="phone" name="phone" class="form-control custom-labels" id="phone" name="phone" placeholder="Teléfono" />
												<p class="help-block text-danger"></p>
											</div>
										</div>
										<div class="col-sm-6 height-contact-element">
												<input type="company" name="company" class="form-control custom-labels" id="company" name="company" placeholder="Empresa" />
												<p class="help-block text-danger"></p>
										</div>
										<div class="col-sm-6 height-contact-element" >
												<select type="text" name="request" class="combo-box" id="request" name="request" placeholder="Requerimiento" required data-validation-required-message="Please selec your request!">
												<option value="" disabled selected>Requerimiento</option>
                								<option value="Sitio web">Sitio web</option>
                								<option vale="App movil">App móvil</option>
                								<option value="Servicios Informaticos">Servicios Informáticos</option>
                								<option value="Infraestructura">Infraestructura</option>
                								<option value="Capacitacion">Capacitación</option>
                								<option value="Trabajar con Uds">Trabajar con Uds</option>
                								<option value="Otros">Otros</option>
        										</select>
												<p class="help-block text-danger"></p>
										</div>
										<div class="col-sm-12 height-contact-element">
												<input type="textarea" class="text-area" id="message"  name="client_message" placeholder="Cómo podemos ayudarte?" required data-validation-required-message="Please write a message!"/>
										</div>


										<div class="col-sm-4 col-xs-6 height-contact-element">
											<div class="form-group">
												<input type="submit" class="btn btn-md btn-custom btn-noborder-radius" value="Enviar"/>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6 height-contact-element">
											<div class="form-group">
												<div id="response_holder"></div>
											</div>
										</div>
											<div class="col-sm-8 contact-msg">
											<div id="success"></div>
										</div>

									</div>

								</form>

								<div class="container-fluid">	

									<div class="row col-md-12">
									    <div class="col-md-4 contact-element-alignment">
									    	<div>
										    	<i class="fa fa-2x fa-map-marker"></i>
										    </div>
										    <div>
												<p class="contact-element">La Niña E8-58 y Yánez Pinzón, Edificio Royal Business, Of. 708.</p>
											</div>
									    </div>
									    <div class="col-md-4 contact-element-alignment">
									    	<div>
										    	<i class="fa fa-2x fa-phone"></i>
											</div>
											<div>
												<p class="contact-element">(+593) 2 3238528</p>
												<p class="contact-element">(+593) 2 3238151</p>
											</div>
									    </div>
									    <div class="col-md-4 contact-element-alignment">
									    	<div>
										    	<i class="fa fa-2x fa-envelope"></i>
											</div>
											<div>
												<p class="contact-element">contact@handytec.mobi</p>
											</div>
									    </div>
									</div>

					  			</div>

								<!--fin de Formulario-->
							</div>

							
						</div>
					</div>
				</div>
			</div>

			<div id="location" border="0px">
				<div class="row prodmap" border="0px">
					<div id="map-canvas-holder" class="map_holder" border="0px"></div>
				</div>
			</div>

		</div>

		<section id="follow-us">
			<div class="container"> 
				<div class="text-center height-contact-element">
					<h2>Síguenos</h2>
				</div>
				<img class="img-responsive displayed divider" src="../images/other/divider.svg" alt="short" />
				<div class="text-center height-contact-element">
					<ul class="list-unstyled list-inline list-social-icons">
						<li class="active"><a href="https://www.facebook.com/handytec" target="_blank"><i class="fa fa-facebook-square social-icons"></i></a></li>
						<li><a href="https://twitter.com/handytec" target="_blank"><i class="fa fa-twitter-square social-icons"></i></a></li>
						<li><a href="#" target="_blank"><i class="fa fa-google-plus-square social-icons"></i></a></li>
						<li><a href="https://www.linkedin.com/company/handytec" target="_blank"><i class="fa fa-linkedin-square social-icons"></i></a></li>
					</ul>
				</div>
			</div>
		</section>

		<!-- Modal -->
		<div class="modal fade bs-example-modal-md" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Title</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="row">
		          <div class="col-md-6">
		          	<img src="../images/port2.jpg" width="90%">
		          </div>
		          <div class="col-md-6">
		          	<span></span>
		          </div>
		        </div>
		      	
		      	
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>

		<footer id="footer">
			<div class="container">
				<div class="row myfooter">
					<div class="col-sm-6"><div class="pull-left">
					© Copyright Handytec Mobi S.A. 2016 | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
					</div></div>
					<div class="col-sm-6">
						<!-- <div class="pull-right">Designed by <a href="http://www.atis.al">ATIS</a></div> -->
					</div>
				</div>
			</div>
		</footer>

		<!-- jQuery -->
		<script src="../javascripts/jquery.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="../javascripts/bootstrap.min.js"></script>

		<!-- Google Map -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0Nb0C4SCBA2E5g1jJ1b2rrvt5UtusLmM"></script>

		<!-- Portfolio -->
		<script src="../javascripts/jquery.quicksand.js"></script>	 

		<script src="../javascripts/noframework.waypoints.min.js"></script>  

		<!-- Google maps -->
		<script src="../javascripts/gmap.js"></script>

		<!-- Main Handytec's script -->
		<script src="../javascripts/main.js"></script>

</body>
</html>




