
    <div class="container" style="width:100%;">
        <div class="row" >

                <div class="col-md-8">
                    <h3>¿Qué es la Nube?</h3><br>
                    <p>Lo primero que debes entender acerca de la Nube, es que no es una cosa física. La nube es una red de servidores y redes interconectadas, y cada servidor tiene una función diferente.  La nube es sólo una metáfora para lo que hoy en día llamamos como la Internet. En la Nube, Algunos servidores utilizan su poder de computación para ejecutar aplicaciones o simplemente "prestar un servicio". De ahí se deriva el término "<b>Computación en la Nube</b>". En términos más simples, la Computación en la Nube significa almacenar y acceder a datos y programas a través de Internet en lugar del disco duro de tu ordenador.
                    </p>
                </div>

                <div class="col-md-4">
                    <img src="../images/services/whatiscloud.jpg" width="100%"/>
                </div>

        </div>
    </div>

    <div class="space-bottom"></div>

    <div class="container" style="width:100%;">
        <div class="row" >

                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <center>
                        <h3>Computación en la Nube</h3><br>
                        <p>
                        La <b>Computación en la Nube</b> es un avance tecnológico que se centra en la forma en que diseñamos nuestros sistemas informáticos, desarrollamos aplicaciones y aprovechamos los servicios existentes para la construcción del Software. Se basa en el concepto de aprovisionamiento dinámico (elástico), que se aplica no sólo a los servicios, sino también para calcular la capacidad, almacenamiento, redes y tecnologías de la información (TI) en general. La Computación en la Nube permite el alquiler de infraestructura, entornos de ejecución, y otros servicios en una modalidad de pago base <b>por uso</b> (pay-per-use), sin compromisos de pago iniciales requeridos.

                        </p>
                    </center>
                </div>

                <div class="col-md-3">
                </div>

        </div>
    </div>

    <div class="space-bottom"></div>

    <div class="container" style="width:100%;">
        <div class="row" >

                <div class="col-md-4">
                    <img src="../images/services/cloud-important.jpg" width="110%" class="img-responsive circular-profile"/>
                </div>

                <div class="col-md-8">
                    <h3>¿Por qué es importante?</h3><br>
                    <p>Hoy en día, las empresas requieren invertir en Sistemas de Información cada vez más especializados y que demandan capacidades de computación elevados debido a la gran cantidad de datos generados y a la complejidad de los mismos Sistemas. Esto implicaría considerables gastos en equipos de red, servidores, personal técnico experto y en general todo lo necesario para mantener un centro de datos propio de la organización. Aparte del ahorro económico, la Computación en la Nube provee, entre otras cosas, las siguientes ventajas:</p>
                    <p>
                        <ul>
                            <li>No hay comprimisos de pago iniciales</li>
                            <li>Acceso bajo demanda</li>
                            <li>Modelos de precio convenientes</li>
                            <li>Escalabilidad y elasticidad en la provisión de recursos</li>
                            <li>Asignación de recursos eficiente</li>
                            <li>Creación y uso de Servicios sin interupciones (24/7)</li>

                        </ul>
                    </p>
                </div>

        </div>
    </div>

    <div class="space-bottom"></div>

    <div class="container" style="width:100%;">
        <div class="row" >

                <div class="col-md-8">
                    <h3>BigData & el IoT (Internet de las Cosas)</h3><br>
                    <p>La IoT materializa una visión de un futuro en Internet en el que cualquier objeto que posee capacidades de computación y características sensoriales, es capaz de comunicarse con otros dispositivos que utilizan protocolos de comunicación de Internet, en el contexto de aplicaciones de detección. Se estima que estos sensores generarán trillones de GB de datos por hora en todo el mundo en lo que se conoce comunmente como BigData. Entonces surge una nueva problemática: ¿Cómo procesar semejante cantidad de información en periodos cortos de tiempo y de una manera eficiente?. Solo una infraestructura elástica y en teoría ilimitada podría proveernos recursos computacionales para lidiar con estos retos. La respuesta podría ser la Nube y por ello esta juega un papel importante hacia las proyecciones tecnológicas del futuro.</p>
                </div>

                 <div class="col-md-4">
                    <img src="../images/services/iot-bigdata.jpg" width="100%" class="img-responsive circular-profile"/>
                </div>

        </div>
    </div>

    <div class="space-bottom"></div>

    <div class="col-md-12 animated">
        <center>
            <h3>¿Deseas conocer más?</h3><br>
            <a href="#contact" id="contactlink" onclick="$('#myModal').modal('hide');" class="button-link animated btn btn-primary btn-noborder-radius hvr-bounce-to-bottom" >Contáctanos</a>
        </center>
    </div>




