
    <div class="container" style="width:100%;">
        <div class="row" >

                <div class="col-md-8">
                    <h3>¿Qué significa multiplataforma?</h3><br>
                    <p>En el mundo de las Tecnologías de Información, multi-plataforma, cross-platform o independencia de plataforma, es un atributo del Software que es implementado e interopera sobre multiples plataformas de computación. A diferencia de las aplicaciones nativas (en el caso de móviles), donde cada plataforma posee su propia plataforma de desarrollo, interfáz gráfica, funcionalidades, sistema operativo, etc, por medio del desarrollo cross-platform, es posible compilar (traducir) un mismo código para múltiples plataformas, sistemas operativos (iOS, Android, Win Mobile, etc.) y la más variada gama de marcas y modelos de disposivos a la vez.</p>
                </div>

                <div class="col-md-4">
                    <img src="../images/services/cross-platform.png" width="100%"/>
                </div>

        </div>
    </div>

    <div class="space-bottom"></div>

    <div class="container" style="width:100%;">
        <div class="row" >

                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <center>
                        <h3>Develop once, Deploy everywhere</h3><br>
                        <p>En Handytec, creemos que el tiempo de un proyecto y de nuestros clientes es muy importante. Por medio del modelo de desarrollo y entrega rápido de aplicaciones, le brindamos a nuestros clientes la confianza de que su idea de negocio o su aplcación, empezará a generar cambios positivos en su empresa lo antes posible. Esto se logra gracias al ahorro de tiempo y costos que provee el concepto del desarrollo cross-platform.</p>
                    </center>
                </div>

                <div class="col-md-3">
                </div>

        </div>
    </div>

    <div class="space-bottom"></div>

    <div class="container" style="width:100%;">
        <div class="row" >

                <div class="col-md-4">
                    <img src="../images/services/multiplatform-importance.jpg" width="100%" class="img-responsive circular-profile"/>
                </div>

                <div class="col-md-8">
                    <h3>¿Por qué es importante?</h3><br>
                    <p>Hoy en día, las empresas deben tener la capacidad de implementar aplicaciones capaces de soportar la creciente gama de dispositivos y plataformas - de Windows, iOS, Android, escritorio, tabletas y teléfonos - la lista nunca ha sido mayor. En consecuencia, los desarrolladores se enfrentan a grandes curvas de aprendizaje para aprender múltiples plataformas, sistemas operativos y herramientas de desarrollo. </p>
                    <p>¿El resultado? Proyectos con tiempos muy largos, dolores de cabeza con compatibilidades y, por supuesto, el alza de los costos. Entonces herramientas como el cross-platform nos permiten solventar varios de estos inconvenientes a la vez y con ello se obtienen aún más beneficios tales como:</p>
                    <p>
                        <ul>
                            <li>Mayor alcance (llega hacia más usuarios)</li>
                            <li>Facilidad en el Marketing</li>
                            <li>Uno en lugar de muchos (Una sola aplicación)</li>
                            <li>Interfaz Grafica Uniforme (Look & Feel)</li>
                            <li>Uso de tecnologías conocidas y estándar</li>
                            <li>Desarrolladores HTML5 vs. Móviles (Existen más expertos cross-platform)</li>
                            <li>Costos de desarrollo reducidos</li>
                        </ul>
                    </p>
                </div>

        </div>
    </div>

    <div class="space-bottom"></div>

    <div class="col-md-12 animated">
        <center>
            <h3>¿Deseas conocer más?</h3><br>
            <a href="#contact" id="contactlink" onclick="$('#myModal').modal('hide');" class="button-link animated btn btn-primary btn-noborder-radius hvr-bounce-to-bottom" >Contáctanos</a>
        </center>
    </div>




