<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Handytec</title>
    </head>

    <body style="font-family: Tahoma; width:100%;">

    <div style="width:98%; margin:0 auto;">
        
        <div style="text-align:left;vertical-align: middle;">
            <div>
                <img src="header-responder.png" style="max-width: 100%; background-color: transparent;"/>
            </div>
        </div>

    
        <div>
            
            <div style="text-align: left; padding: 10px 10px 10px 10px; background-color: aliceblue; min-height: 80px; text-align: justify; font-size:14px; margin-bottom:2px;">
                <img src="http://115.146.86.249/images/bridgett.png" width="80px" height="80px" align="left" style="margin-right:20px;">
                <b style="color: #2C86C7; font-size:16px;">Hola Fernanda!</b><br><br >
                Hemos recibido tu correo a traves de la pagina web de Handytec. Uno de nuestros consultores expertos se ecuentra analizando tu requerimiento y pronto se pondra en contacto contigo.
            </div>
        </div>


        <div style="padding: 10px 10px 10px 10px; background-color: aliceblue; min-height:110px; height:auto">
            
            <div style="float:left; margin-right: 10px;">
                 <p style="font-family: Tahoma; font-size: 10px; line-height: 12px;">
                    <a style="text-decoration:none" href="http://www.handytec.mobi" class="clink logo-container">
                    <img src="http://115.146.86.249/images/logo.png" alt="Handytec - Innovating your Bussiness" border="0" class="sig-logo" width="160" >
                    </a>
                 </p>
                 <p style="font-family: Tahoma; font-size: 10px; line-height: 12px;text-align: right;">
                    <a class="link signature_website-target sig-hide" href="http://www.handytec.mobi" style="color: rgb(71, 124, 204); text-decoration: none; display: inline;">www.handytec.mobi</a>
                 </p>
              </div>
              <div style="float:left; margin-right:30px;">
                 <p style="font-family: Tahoma; font-size: 13px; line-height: 12px; color: rgb(33, 33, 33); margin-bottom: 10px;">
                    <span style="font-weight: bold; color: rgb(33, 33, 33); display: inline;" class="txt signature_name-target sig-hide">HandytecMobi S.A</span><br>
                    <span style="color: #C43B27; display: inline; font-size: 10px;" class="txt signature_jobtitle-target sig-hide">Innovating your Business</span>
                    <span class="email-sep break" style="display: inline; font-size: 10px;"><br></span>
                    <a class="link email signature_email-target sig-hide" href="mailto:diego.montufar@handytec.mobi" style="font-size: 10px; color: rgb(71, 124, 204); text-decoration: none; display: inline;">contact@handytec.mobi</a><br>
                    <span style="color: rgb(33, 33, 33); display: inline; font-size: 10px;" class="txt signature_mobilephone-target sig-hide">+593 2 3238528</span><br>
                    <span style="color: rgb(33, 33, 33); display: inline; font-size: 10px;" class="txt signature_mobilephone-target sig-hide">+593 9 95030269</span>
                 </p>
                 <p style="font-family: Tahoma; font-size: 10px; line-height: 12px;">
                    <a href="https://www.facebook.com/handytec" target="_blank" style="display: inline; text-decoration: none;">
                    <img width="20" height="20" data-filename="facebook.png" src="https://s3.amazonaws.com/htmlsig-assets/round/facebook.png" alt="Facebook">
                    </a>
                    <a href="https://twitter.com/handytec" target="_blank" style="display: inline; text-decoration: none;">
                    <img width="20" height="20" data-filename="twitter.png" src="https://s3.amazonaws.com/htmlsig-assets/round/twitter.png" alt="Twitter">
                    </a> 
                    <a href="#" target="_blank" style="display: inline; text-decoration: none;">
                    <img width="20" height="20" data-filename="googleplus.png" src="https://s3.amazonaws.com/htmlsig-assets/round/googleplus.png" alt="Google Plus">
                    </a> 
                    <a href="https://www.linkedin.com/company/handytec" target="_blank" style="display: inline; text-decoration: none;">
                    <img width="20" height="20" data-filename="linkedin.png" src="https://s3.amazonaws.com/htmlsig-assets/round/linkedin.png" alt="Linkedin">
                    </a> 
                 </p>
                </div>

                <div style="font-size: 11px; padding-right:20px; padding-top:10px; text-align: justify;">
                    Nuestra misión es convertir buenas ideas en soluciones tecnológicas innovadoras que ayudan a establecer un compromiso con nuestros clientes y hacer crecer su negocio por medio de un modelo exitoso y de alta calidad en la entrega rápida de aplicaciones. Nuestros ingenieros trabajan de cerca con los clientes y proveen la mejor experiencia de usuario siguiendo metodologías ágiles durante el desarrollo. Somos especialistas en desarrollar aplicaciones para análisis y procesamiento de BigData y tecnologias moviles, dando soluciones inteligentes y estrategicas a nuestros clientes, en la Nube.
                </div>
        </div>

    </div>

    </body>
</html>


