
    <div class="container" style="width:100%;">
        <div class="row" >

                 <div class="col-md-2">
                </div>

                <div class="col-md-8">
                    <center>
                        <blockquote><p>"Todo el pensamiento moderno es permeado por la idea de pensar lo imposible"</p><p><small>Michel Foucault</small></p></blockquote>
                    </center>
                </div>

                <div class="col-md-2">
                </div>

        </div>
    </div>

    <div class="space-bottom"></div>

    <div class="container" style="width:100%;">
        <div class="row" >

                <div class="col-md-3">
                </div>

                <div class="col-md-6">
                    <center>
                        <h3>Generamos ideas, compartimos conocimiento</h3><br>
                        <p>
                        En Handytec creemos que el conocimiento es la herramienta fundamental para hacer realidad nuestras ideas. Nuestros consultores expertos están dispuestos a compartir todos sus conocimientos adquiridos a traves de sus años de experiencia en el área de TI y con sus estudios realizados en países donde se está desarrollando la Tecnología del Futuro.

                        </p>
                    </center>
                </div>

                <div class="col-md-3">
                </div>

        </div>
    </div>

    <div class="space-bottom"></div>

    <div class="container" style="width:100%;">
        <div class="row" >

                <div class="col-md-4">
                    <img src="../images/services/module-cloud.jpg" width="110%" class="img-responsive circular-profile"/>
                </div>

                <div class="col-md-8">
                    <h3>Módulos: Computación en la Nube</h3><br>
                    <p>Tenemos programas de capacitación teóricos y talleres prácticos para Empresas, Universidades y Eventos de Tecnología, en donde nuestros consultores expertos te brindarán una guía completa de los conocimientos y las herramientas que necesitas para empezar a trabajar con la Nube. Algunos de los temas que abordamos tienen que ver con: Computación Paralela, Computación de alto rendimiento (HPC), Computación móvil, Sistemas Distribuidos, BigData processing & analytics y muchos temas relacionados directamente con la <b>Computación en la Nube.</b></p>
                </div>

        </div>
    </div>

    <div class="space-bottom"></div>

    <div class="container" style="width:100%;">
        <div class="row" >

                <div class="col-md-8">
                    <h3>Ciencias de los Datos (Data Science)</h3><br>
                    <p>El análisis y procesamiento de pequeñas (pero complejas), o grandes catidades de datos (BigData), requieren no solo de las herramientas de Software e Infraestructura adecuadas, sino de la teoría y la ciencia detrás del problema a ser resuelto. Complejos Algoritmos, algunos modelos matemáticos, protocolos de comunicación e interación entre programas, son algunos de los ingredientes que hacen posible obtener información útil a partir de un montón de datos 'no estructurados'. En Handytec, nuestros <b>Científicos de Datos</b> se encargan de estudiar y crear estos ingredientes a través de nuestro programa de investigación. Adicionalmente dictamos cursos teórico practicos a Estudiantes y Profesionales interesados en esta rama de la Ciencia. Algunos de los temas que tratamos son: Wireless Sensor Networks, Machine Learning, Procesamiento de Imágenes, Minería de Datos, Análisis de Redes Sociales.</p>
                </div>

                 <div class="col-md-4">
                    <img src="../images/services/training.jpg" width="110%" class="img-responsive circular-profile"/>
                </div>

        </div>
    </div>

    <div class="space-bottom"></div>

    <div class="container" style="width:100%;">
        <div class="row" >

                <div class="col-md-4">
                    <img src="../images/services/coding.jpg" width="110%" class="img-responsive circular-profile"/>
                </div>

                <div class="col-md-8">
                    <h3>Programación</h3><br>
                    <p>El Software, como producto final, es el resultado de la creación de cientos de líneas de código perfectamente alineadas como obra de arte que le da solución a un problema determinado. Hoy en día, ya no es necesario ser informático para aprender a programar. En handytec te proveemos de los conocimientos báscios y talleres prácticos para empezar a usar los lenguajes de programación científicos que se usan en la Computación en la Nube tales como: Python (basado en C, C++), R, MatLAB y Java.</p>
                </div>

        </div>
    </div>

    <div class="space-bottom"></div>

    <div class="col-md-12 animated">
        <center>
            <h3>¿Deseas conocer más?</h3><br>
            <a href="#contact" id="contactlink" onclick="$('#myModal').modal('hide');" class="button-link animated btn btn-primary btn-noborder-radius hvr-bounce-to-bottom" >Contáctanos</a>
        </center>
    </div>




